@import '../../variables.scss';

.progress-arc { //couldnt make flex work in IE 11 so used top and left :( 
    position:relative;
    // display: flex;
    // display: -ms-flexbox; 
    // -ms-flex-direction: column;
    // flex-direction: column;
    // align-items:center;
    // justify-content:center;
    // -ms-flex-align:center;
}

.progress-component {
    transform:rotate(180deg);
 
}

.progress-amount {
    top: 20px;
    left: 15px;
    z-index:1;
    position:absolute;
    margin-top: -2px;
    color: white;
    font-size: 24px;
    text-align: center;
}

small {
    font-size: 40%;
    text-transform: uppercase;
    display:none;
}

:host ::ng-deep .purple .progress-fill {
    stroke:$purple;
}

:host ::ng-deep .blue .progress-fill {
    stroke:$blue;
}

:host ::ng-deep .pink .progress-fill {
    stroke:$pink;
}

:host ::ng-deep .lilac .progress-fill {
    stroke:$lilac;
}

:host ::ng-deep .turquoise .progress-fill {
    stroke:$turquoise;
}

:host ::ng-deep .navy .progress-fill {
    stroke:$navy;
}
@media only screen and (min-width: 768px) {
small {
    display:block;
}
.progress-amount {
    top: 30px;
    left: 26px;
}
}