@import '../../variables.scss' ;

h3 {
  text-align: center;
}

p{
  font-size: 4px;
  text-align: left;
}

.star-heading { 
  display: flex;
  width: 100%;
  height: $s-sm;
}

.star {
  margin: 0;
}

.welcome-text{
    i{
      text-align: right;
      border: 1px solid red;
  }
    
  }
  // display: none;
  

.welcome-text .i{
  text-align: right;
}

.date {
  flex-grow:1;
  line-height: 50px;
  p {
    text-align: right;
    padding-right: 10px;
    font-size: 12px; 
  }
}

.total-score {
  flex: 0, 0, 200px;
}


// @media only screen and (min-width: $tablet-min){ 
//   // .star-heading{
//   //   height: $s-lg;
//   // }


// }

@media only screen and (min-width: $tablet-max) {
  // @include media-lg;  

  .star{
    max-width: 55vw;
    
  }

  .welcome-text{
    padding-right: 20px;
    display:block;
    
    p{
      font-size: 12px;
    }
  }
  .star-heading{
    height: 10px;
  }
  
  .date {
    height: 90px;
    line-height: 90px;
    p {
      font-size: $f-xs;
    }  
  }
}

@media only screen and (min-width: $desktop-min) {
 
  .star{
    width: 50vw;
  }
  .star-flex {
    display:flex;
    
    .star-column {
      flex:2;
    }
    
    .results-score {
      flex:1;
    }
    
    .star-heading{
      padding-right: 30px;
    }
  }
  
  .tasks {
    padding: 0;
  }
  
}
