<app-layout-default data="bigStarData.datasets[0].data" pageTitle="My star">
  
  <div class="star-flex">
    <div class="star-column">
      <div class="star-heading">
        <div class="date"><p> 30.11.18</p></div>
        <div class="total-score">
          <app-progress-arc class="u-swapon-mobile"
          [score]="overallResult" 
          color="turquoise" 
          size="60"
          ></app-progress-arc>
          
          <app-progress-arc class="u-swapon-tablet"
          [score]="overallResult" 
          color="turquoise" 
          size="100"
          ></app-progress-arc>
          
          
        </div>
        
      </div>
      <div class= "stars">

        <div class="star u-swapon-tablet">
          <app-main-star [allStarData]="data" [showLabels]="true"></app-main-star>
        </div>
        
        <div class="star u-swapon-mobile">
          <app-main-star [allStarData] = "data" [showLabels]="false"></app-main-star>
        </div>
      </div>
    </div>
    <div class="results-score">
      
      
      <div class="tasks">
        <app-task-manager></app-task-manager>
      </div>
    </div>
    
  </div >
</app-layout-default>