<app-layout-default icon="fa-taxi" title="My star">

  <div class="star-flex">
    
      <div class="star">
        <app-star [data]="starData"> </app-star>
      </div>
    
      <div class="results-score">
        <div class="total-score">
          <app-progress-arc 
          [score]="overallResult" 
          color="turquoise" 
          ></app-progress-arc>
          <h2>Total score</h2>
          
        </div>
      
        <div class="tasks">
            <p> Task manager</p>
          </div>
      </div>
    
  </div >
</app-layout-default>