main {
    height: 100vh;
    padding: 30px;
}

h1 {
    padding-bottom: 10px;
}

.star {
    border: 2px solid black;
    height: 50vh;
    width: 50vh;    
}

p {
    color:red;
}

.total-score {
    border: 2px solid black;
    height: 50vh;
    width: 50vh;
    margin-top: 50px;
}