<app-layout-default icon="fas fa-user" pageTitle="My Profile"> 
  <section class="main-content">
    <div class="header-content">
      <div class="circle-border" [ngStyle]="{ 'background-image':'url(' + user.photoURL + ')' }"></div>
      <div class="text-inside-header">
        <h2>{{user.displayName}}</h2> 
        <p id="welcome">{{user.email}}</p>
        
      </div>
    </div>

    <div id="profileChanges">
      <div id="personal">
        <h3>Update profile</h3>

        <form (ngSubmit)="updateClientName()">
          <div class="form-container">
            <fieldset>
              <label for="Name">New name: </label>
              <input
                [(ngModel)]="newName"
                type="name"
                name="name"
                id="newName"
                class="input-box"
                required
              >
            </fieldset>
            <div class="button-container">
              <button
                [disabled]="newName == ''"
                class="btn btn-open btn-turquoise"
                onclick="document.getElementById('newName').value = ''"
                type="submit"
                id="submitNewName"
              >
                Update name
              </button>
            </div>
          </div>
        </form>
   
        <form (ngSubmit)="updateClientEmailAddress()">
          <div class="form-container">
            <fieldset>
              <label for="Email">New email: </label>
              <input
                [(ngModel)]="newEmail"
                type="email"
                name="Email"
                id="newEmail"
                class="input-box"
                required
              >
            </fieldset>
            <div class="button-container">
              <button
                [disabled]="newEmail == ''"
                class="btn btn-open btn-turquoise"
                onclick="document.getElementById('newEmail').value = ''" 
                type="submit"
                id="submitNewEmail"
              >
                Update email
              </button>
            </div>
          </div>
        </form>
        <p *ngIf="successUpdateEmail" style="color:green; background-color: white">{{successUpdateEmail}}</p>
        <p *ngIf="errorUpdateEmail" style="color:red; background-color: white">{{errorUpdateEmail}}</p>

        <form (ngSubmit)="updateClientImage()">
          <div class="form-container">       
            <div class="avatarPreviewContainer" *ngIf="newImage">
              <img src="{{newImage}}" id="displayNewImage" > 
            </div>

            <fieldset [ngClass]="{largeWidth: !newImage, smallWidth: newImage}" >
              <label for="Image">Paste image url here: </label>
              <input
                [(ngModel)]="newImage"
                type="imageName"
                name="imageName"
                id="newImage"
                class="input-box"
                required
              >
            </fieldset>
            <div class="button-container">
              <button
                [disabled]="newImage == ''"
                class="btn btn-open btn-turquoise"
                onclick="document.getElementById('newImage').value = ''"
                type="submit"
                id="submitNewImage"
                >
                  Update image
                </button>
            </div>
          </div>
        </form>
        <!-- <div *ngIf="newImage" id="newImagePreviewContainer">
          <p>Preview:</p>
          <div id="displayNewImage" class="circle-border" [ngStyle]="{'background-image' : 'url(' + newImage + ')'}"></div>
        </div> -->


        <form (ngSubmit)="updateClientLocation()">
          <div class="form-container">
            <fieldset>
              <label for="location"> Location: </label>
              <input
                [(ngModel)]="newLocation"
                type="location"
                name="location"
                id="newLocation"
                class="input-box"
                required
              >
            </fieldset>
            <div class="button-container">
              <button
                [disabled]="newLocation == ''"
                class="btn btn-open btn-turquoise"
                onclick="document.getElementById('newLocation').value = ''"
                type="submit"
                id="submitNewLocation"
              >
                Update location
              </button>
            </div>
          </div>
        </form>
        <p>Location is {{newLocation}}</p>
      </div>

      <div id="password">
        <h3>Update password</h3>

        <p *ngIf="successChangePassword" style="color:green; background-color: white">{{successChangePassword}}</p>
        <p *ngIf="errorChangePassword" style="color:red; background-color: white">{{errorChangePassword}}</p>
        <form>
          <div class="form-container">
            <fieldset>
              <label for="Password">New password: </label>
              <input
                [(ngModel)]="newPassword"
                type="password"
                name="password"
                id="newPassword"
                class="input-box"
                pattern = "^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                #passwordy="ngModel"
                required
              >
            </fieldset>
          </div>

          <div *ngIf="passwordy.touched && passwordy.invalid" id="errors">
            <p>Password is invalid it must be:</p>
            <ul>
              <li>6 characters</li>
              <li>One is a lowercase letter</li>
              <li>One is an uppercase letter</li>
              <li>One is a number</li>
            </ul>
          </div>
        </form>
        
        <form (ngSubmit)="updateClientPassword()">
          <div class="form-container">
            <fieldset>
              <label for="Password">Confirm password: </label>
              <input
                [(ngModel)]="confirmPassword"
                type="password"
                name="password"
                id="confirmPassword"
                class="input-box"
                pattern = "^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
                #confirmyPasswordy="ngModel"
                required
              >
            </fieldset>

            <div class="button-container">
              <button
                [disabled]="!passwordy.valid || (passwordy.value != confirmyPasswordy.value)"
                class="btn btn-open btn-turquoise"
                onclick="document.getElementById('newPassword').value = '' , document.getElementById('confirmPassword').value = ''"
                type="submit"
                id="submitNewPassword"
              >
                Update password
              </button>
            </div>
            
          </div>
          <p *ngIf="passwordy.value != confirmyPasswordy.value">Passwords don't match</p>
        </form> 
      </div>
    </div> 
  </section>
</app-layout-default>