<app-layout-default icon="fas fa-list-ol" pageTitle="Questionnaire">
 
  <section>
    <div class="header-content">
      <div class="circle-border" [ngStyle]="{ 'background-image':'url(' + user.photoURL + ')' }"></div>
      <div class="text-inside-header">
        <h2>{{user.displayName}}</h2>
      
        <p>Email address: {{user.email}}</p>
        
        <p> verified: {{user.emailVerified}}</p>
      </div>
    </div>








    <p>Change your name below:</p>
    <form (ngSubmit)="updateClientName()">
        <fieldset>
          <label for="Name">New name: </label>
          <input [(ngModel)]="newName" type="name" name="name" id="newName" required>
          <button class="btn btn-flat btn-navy" type="submit" id="submitNewName">Update name</button>
      </fieldset>
    </form>

    <br>

    <p>Change your email  below:</p>
    <p *ngIf="successUpdateEmail" style="color:green; background-color: white">{{successUpdateEmail}}</p>
    <p *ngIf="errorUpdateEmail" style="color:red; background-color: white">{{errorUpdateEmail}}</p>

    <form (ngSubmit)="updateClientEmailAddress()">
      <fieldset>
          <label for="Email">New email: </label>
          <input [(ngModel)]="newEmail" type="email" name="Email" id="newEmail" required>
          <button class="btn btn-flat btn-navy" type="submit" id="submitNewEmail">Update email</button>
      </fieldset>
    </form>
    
    <br>
    
    <p *ngIf="successChangePassword" style="color:green; background-color: white">{{successChangePassword}}</p>
    <p *ngIf="errorChangePassword" style="color:red; background-color: white">{{errorChangePassword}}</p>
    <p>Change your password below:</p>
    <form (ngSubmit)="updateClientPassword()">
        <fieldset>
          <label for="Password">New password: </label>
          <input [(ngModel)]="newPassword" type="password" name="password" id="newPassword" required>
          <button class="btn btn-flat btn-navy" type="submit" id="submitNewPassword">Update password</button>
      </fieldset>
    </form>
    
    <br>
    
    <p>Change your image below:</p>
    <form (ngSubmit)="updateClientImage()">
        <fieldset>
          <label for="Image">Paste image url here: </label>
          <input [(ngModel)]="newImage" type="imageName" name="imageName" id="newImage" required>
          <button class="btn btn-flat btn-navy" type="submit" id="submitNewImage">Update image</button>
      </fieldset>
    </form>

  </section>
</app-layout-default>