@import "../../variables.scss";
@include media-sm;

.main-content{
  margin: 0;
  padding: 0;
}

.header-content {
  display: block;
  height: 300px;
  background-image: url('../img/london.png');
  background-size: cover;
  background-color: black;
}

.circle-border {
  border-radius: 50%;
  border: 1px solid white;
  background-size: cover;
  background-position: center;
  vertical-align: middle;
  float: left;
  margin-top: $s-lg;
  margin-left: $s-sm;
  width: 100px;
  height: 100px;
}

.text-inside-header {
  padding-top: $s-lg;
  padding-left: 115px;
  margin-top: 30px;
}

#welcome {
  color:  $bright-green;
}

#profileChanges{
  padding-left: 15px;
  height: 100vh;
  width: 100%;
}

#personal{
  float: left;
  width: 100%;
}

#password{
  float: left;
  width: 100%;
}

fieldset{
  border: none;
  margin-left: 0 10px;
}

button{
  display: inline;
  margin-right: 10px;
}

div{
  padding-top: 20px;
}

div.submitButton {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.input-box{
  width: 100%;
}

fieldset{
  width: 60%;
  margin: 0;
}

.button-container{
  width: 40%;
}

button{
  margin-left: 5px;
}

#errors{
  padding-left: 20px;
}

#newImagePreviewContainer{
 padding: 0;
}

#displayNewImage{
 margin: 0;
}

@media only screen and (min-width: $tablet-min) {
  .circle-border {
    margin-top: $s-lg;
    margin-left: $s-md;
    width: 100px;
    height: 100px;
  }

  .text-inside-header {
    padding-left: 150px;
  }
}


@media only screen and (min-width: $tablet-max) {
  @include media-lg;

  .circle-border {
    margin-top: $s-lg;
    margin-left: $s-md;
    width: 150px;
    height: 150px;
  }

  .text-inside-header {
    padding-left: 200px;
  }
}


@media only screen and (min-width: $desktop-min) {
  #personal{
    float: left;
    width: 50%;
  }

  #password{
    float: left;
    width: 50%;
  }

  .text-inside-header {
    padding-left: 200px;
  }
}

@media only screen and (max-width: 580px) {
  fieldset{
    width:100%;
  }

  .button-container{
    width: 100%;
    position: relative;
    height: 50px;
  }

  button{
    position: absolute;
    top: 0;
    margin: 5px 0 0 0;
  }
}