body {
    background-image: url('star.jpg');
    background-size: cover;
    font-family: 'Nunito Sans';
    height: 100vh;
}

main > form, h1 {
    color: white;
    justify-content: center;
    text-align: center;
}

footer {
    color: white;
    bottom: 0;
}

.button {
    background-color: rgb(7, 7, 112);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.restart {
    background-color: rgb(5, 5, 51);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;    
}
