<app-layout-default icon="fa-taxi" title="QUESTIONNAIRE">
  <head>
      <link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
      <title class="firstitle">Questionnaire</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="UTF-8">
  </head>
  <body>
    <main>      
      <form action="../my-star/my-star.component.html" method="POST">
        <div *ngFor="let question of questions">
          <div  class="container">
            <label for="questions">
              <h4>{{question.number}}. {{question.question}}</h4>
            </label>
            <input
            class="scoring"
            type="number"
            value ="{{question.score}}" 
            name="question-{{question.number}}" 
            min="0" max="10"
            required
            >
          </div>
        </div>
        <div>
          <button class="btn btn-open btn-turquoise" type="submit">SEND</button>
        </div>
      </form>
      <!-- <progress max="100" value="10"></progress> -->
    </main>
  </body>
</app-layout-default>

