@import '../../variables.scss';

.whole-questionnaire {
    display: flex;
    position: relative;
}

.instruction {
    font-style: italic;
    font-size: $f-sm;
    margin-bottom: 30px;
}

.score-indicator {
    margin-top: 5px;
    margin-bottom: 10px;
}

 .score-indicator p {
     text-transform: uppercase;
     font-size: $f-xs;
     letter-spacing: 1px;
}

.score-indicator-agree {
    color: $bright-green;
}

.score-indicator-disagree {
    color: $pink;
}

form {
    border: 2px solid $border-color;
    border-radius: 17px;
    flex: 2;
}

#output-score {
    color: $bright-green;
    background: $nav-color;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    position: absolute;
    margin-left: 87%;
    font-size: $f-xl;
    top: -2px;
}

div.container p {
    display: inline-block;
    font-size: $f-sm;
}

.container {
    margin: 0; 
    text-align: left;
    margin-bottom: 30px;
    padding: 10px;    
}

.score-flex-box {
    display: flex;
}

.score-flex {
    flex-grow: 1;
}

.score-position {
    top: 45px;
    position: relative;
    width: 85%;
    display: none
}

.score-inputs {
    width: 79%;
    top: 20px;
    position: absolute;
    flex-grow: 1;
    margin-left: 2.5%;
    // margin-right: 2.5%;

    &:hover {
        cursor: pointer;
    }
}

.fass {
    display: block;
    font-size: 0.6em;
    // color: rgb(26, 52, 87);
    color: $nav-color;
    // color: black;
    // color: #080e18

}

.ind-score-position {
    flex-grow: 1;
    text-align: center;
    font-size: 0.9em;
    color: $nav-color;
    color: black;

}

.scoring {
    position: relative;
    height: 40px;
}

.score-flex > input {    
    height: 12px;
    outline: none;
    border-radius: 5px;
    -webkit-appearance: none;
    position: absolute;

    
    &:hover {
        cursor: pointer;
    }
}

.scoring-filler {
    overflow: hidden;
    background-color: $nav-color;
}

.scoring-blob {
    background-color: transparent;
}

.scoring-filler::-webkit-slider-thumb { //filler
    box-shadow: 1000px 0 0 1000px $nav-color;
    width: 0;
    height: 0;
}

.scoring-blob::-webkit-slider-thumb { //actual blob
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 30px 1px white;
    background: white;
    // box-shadow: 0 0 1px 1px white;
}

div.sendButton {
    text-align: center;
    padding: 30px;
}

.progress-arc {
    // flex: 1;
    // flex-shrink: 1;
    // position: fixed;
    // right: 2%;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    display: none;
}

.progress-amount {
    z-index: 1;
    position: absolute;
    margin-top: -2px;
    font-size: 24px;
    color: red;
    text-align: center;
}

.progress-component {
    transform:rotate(180deg);
}

@media only screen and (min-width: 894px) {
    .score-indicator {
        position: absolute;
        top: 250px; 
    }
    .score-indicator-mobile {
        display: none;
    }
    .score-position {
        display: flex;
    }
    #output-score {
        margin-left: 90%;
    }
    .scoring {
        height: 100px;
    }
    p {
        font-size:$f-md;
    }
    form {
        flex: 2;
        margin-right: 27%;
    }
    .progress-arc {
        flex: 1;
        flex-shrink: 1;
        position: fixed;
        top: 140px;
        right: 4%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .progress-amount {
        z-index: 1;
        position: absolute;
        margin-top: -2px;
        font-size: 24px;
        color: white;
        text-align: center;
    }
    .progress-component {
        transform:rotate(180deg);
    }    
}

@media only screen and (max-width: 483px) {
    #output-score {
    // color: $bright-green;
    // background: $nav-color;
    width: 40px;
    // border-radius: 50%;
    // text-align: center;
    // justify-content: center;
    // position: absolute;
    margin-left: 85%;
    font-size: $f-lg;
    top: 5px;
    }
}

// @media only screen and (min-width: 528px) {
//     // .scoring {
//     //     margin-top: 20px;
//     //     height: 100px;
//     // }
//     .scoring > input {
//         // width: 50%;
//         height: 8px;
//     }
//     // #output-score {
//     //     margin-left: 69%;
//     //     font-size: 60px;
//     //     width: 85px;
//     //     top: -20px;
//     // }
//     .scoring-blob::-webkit-slider-thumb { 
//         width: 17px;
//         height: 17px;
//     }
// }
