@import "../../variables.scss";

@include media-sm;

.createtask {
    padding: $s-sm;
}

.task-entry {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.input-box {
    width: 70%;
}

.addButton {
    // width: 20%;
}

@media only screen and (min-width:1170px) and (max-width:26850px) {
    .input-box {
        width: 80%;
    }
}

@media only screen and (min-width:270px) and (max-width:320px) {
    .input-box {
        width: 60%;
    }
}