@import "../../variables.scss";

.createtask {
    padding: $s-sm;
}

.input-box {
    margin-right: $s-md;
}

.input-box {
    font-family: $primary-font;
    // padding: $s-xs $s-sm;
    border: 2px solid $lilac;
    border-radius: 17px;
    padding: 4px 16px;
    line-height: 1.7;
}
