@import '../../variables.scss';

#history-container,
#legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $s-xs 0;
}

#legend {
    margin-bottom: $s-md;
}


.checkbox,
.unchecked {
    width: 22%;
    text-align: right;
}

.score {
    width: 22%;
    text-align: left;
}

.date {
    width: 56%;
    text-align: left;
}

.checkbox:hover,
.unchecked:hover {
    cursor: pointer;
}

// .score {
//     float: right;
// }

// fieldset {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
// }