@import '../../variables.scss';

@include media-sm;

.inactive-container,
.active-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: $s-xs 0;
    font-size: $f-sm;
    border-radius: 5px;
    padding: 0 $ls-sm;
    margin: $s-sm 0;
}

.inactive-container {
    border: solid 1px $pink;
    background-color: rgba(176, 32, 98, 0.2);
}

.active-container {
    border: solid 1px $turquoise;
    background-color: $turquoise-tint;
}

i {
    margin: $ls-xs 0;
}

#legend {
    display: flex;
    flex-direction: row;
    margin-bottom: $s-sm;
    font-size: $f-md;
    padding: $ls-sm;
}

.active,
.inactive {
    width: 22%;
    text-align: right;
    color: $turquoise;
    font-size: $f-md;
}

.inactive {
    color: $pink;
}

.active {
    color: $turquoise;
}

.fa-square:hover {
    background-color: rgba(176, 32, 98, 0.2);
}

.fa-check-square:hover {
    background-color: $turquoise-tint;
}

.score,
.date {
    display: flex;
    align-items: center;
    font-weight: 100;
    font-size: $f-sm;
}

.score {
    width: 28%;
}

.date {
    width: 50%;
}

.active:hover,
.inactive:hover {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {

    #history-container,
    #legend {
    margin: $s-xs 0;
    }

    #legend {
    margin-bottom: $s-sm;
    }

}