<nav class="{{menuIsVisible?'showMenu':''}}">
  <ul class="tooltip" >    
    <span class="tooltiptext">Test Text</span><li routerLink="/questionnaire"><a ><i class="fas fa-list-ol"></i></a></li>
    <li routerLink="/profile"><a ><i class="fas fa-user"></i></a></li>
    <li routerLink="/"><a ><i class="fas fa-star"></i></a></li>
    <li routerLink="/styles"><a ><i class="fab fa-css3-alt"></i></a></li>
    <li><a (click)="logOut()"><i class="fas fa-times"></i></a></li>
  </ul>
</nav>

<!-- wrap li in div to correct tooltip-->