@import "../../variables.scss";

#star {
    margin: $s-sm 0;
}

#history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
}

#border-container {
    border: 2px solid $border-color;
    border-radius: $s-sm;
    padding: $s-sm;
}

@media only screen and (min-width: 768px) {

    #star {
        float: left;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #history {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 35%;
        float: right;
        font-size: 2.5em;
    }

    #layout {
        height: 100%;
        display: flex;
        align-content: center;
    }
}