#compare-btn {
    z-index: 1;
}

#compare-btn:hover {
    cursor: pointer;
}

#star {
    z-index: 0;
}

#btn-wrap {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 1000px) {
    #star {
        width: 70%;
        float: left;
    }

    #history {
        width: 30%;
        float: right;
        font-size: 2.5em;
    }
}