#compare-btn {
    z-index: 1;
}

#compare-btn:hover {
    cursor: pointer;
}

#star {
    height: 100%;
    position: absolute;
    z-index: 0;
}

#history {
    height: 100%;
    position: absolute;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#btn-wrap {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
    #star {
        width: 70%;
        float: left;
    }

    #history {
        width: 30%;
        float: right;
        font-size: 2.5em;
    }
}