<app-layout-default title="Style Guide" icon="fab fa-css3-alt">


<h2>Heading 2</h2>
<p>
  orem ipsum has become the industry standard for design mockups and prototypes. By adding a little bit of Latin to a mock
  up, you’re able to show clients a more complete version of your design without actually having to invest time and effort drafting copy.
But despite all its benefits, seeing the same random Latin text in every design can get a little boring for you and your clients. 
So if you have a client who’s got a sense of humour or if you’re just tired of going the traditional route in your mockups, 
here are 15 creative and funny lorem ipsum text generators that are sure to lighten the mood at any client meeting.
</p>
<h3>Heading 3</h3>
<p>fsfrs</p>
<h4>Heading 4</h4>
<p>fsfrs</p>
<h5>Heading 5</h5>
<p>fsfrs</p>
<h6>Heading 6</h6>
<p>fsfrs</p>
<hr>
<h3>Font Sizes</h3>
<p class="f-xs">XS Font</p>
<p class="f-sm">SM Font</p>
<p class="f-md">MD Font</p>
<p class="f-lg">LG Font</p>
<p class="f-xl">XL Font</p>
<hr>
<h3>Buttons</h3>
<button class="btn btn-open btn-turquoise">Open Turquoise</button>
<button class="btn btn-flat btn-pink">Flat Pink</button>
<hr>
<h3>Tiny Star</h3>
<app-tiny-star [data]="starData" size="1em"></app-tiny-star>
<app-tiny-star [data]="starData" size="50px"></app-tiny-star>
<app-tiny-star [data]="starData" size="300px"></app-tiny-star>
</app-layout-default>

