<app-layout-auth>

  <div id="form-container">
    <form (ngSubmit) = "resetPassword()">
      <fieldset>
        <label for="forgotpassword">Please enter your email</label>
        <input [(ngModel)]="email" type="email" name="Email" id="email">
        <p *ngIf="confirmation" class="confirm">{{confirmation}}</p>
        <p *ngIf="error" class="error">{{error}}</p>
        <button *ngIf = "!confirmation" class="btn btn-flat btn-navy" type="submit" id="submit">Reset password</button>
      </fieldset>
      <a routerLink="/login">Return to login page</a>

    </form>
  </div>

</app-layout-auth>
