@import '../../variables.scss';

#form-container {
    text-align: center;
    display: inline-block;
    width: 320px;
    padding: $s-xs;
    position: relative;
}

form {
    width: 100%;
    text-align: left;
    margin-top: $s-sm;
}

fieldset {
    border: none;
    display: block;

    label {
        font-size: $f-xs;
        display: block;
    }
    input {
        display: block;
        margin: 0;
        margin-bottom: $s-sm;
        padding: $s-sm;
        width: 100%;
        max-width: 320px;
        font-size: $f-sm;
        height: auto;
    }

    button {
        width: 100%;
        font-size: $f-xs;
        padding: 0.75em;
    }

}

a {
    font-size: $f-xs;
    font-size: 0.75em;
    color: #93ecfc;
    text-align: left
}

a:hover {
    color: white;
    cursor: pointer;
}
