@import "../../variables.scss";

button{ 
    width: 50px;
    height: 50px;


}
.test::before{
    content: "no";
}

.test::after {
    content:"";
}

.test:active::after {
    content: "yea";
    line-height: initial;
    
}

.task-container {
    padding: $s-sm;
}

.tasklist {
    padding-left: $s-sm;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    ul {
        flex-grow: 1;
    
    }
        
    li {
        font-size: $f-md;
        list-style-type: none;
        vertical-align: top;
    }

    // .box {
    //     flex-grow: 1;
    // }

    input[type="checkbox"] {
        opacity: 10;

    }

    label {
        position: relative;

    }

    label::before {
        display: inline-block;
        height: 50px;
        width: 50px;
        top: 3px;
        border: 5px solid red;
    }

    label::after {
        content: "";
        // display: inline-block;
        // height: 20px;
        // width: 35px;
        // border-left: 5px solid green;
        // border-bottom: 5px solid green;
        // left: 9px;
        // top: 13px;
        // transform: rotate(-45deg);
    }

    input[type="checkbox"] + label::after {
        content: none;
    }

    // input[type="checkbox"]:checked + label::after {
    //     content: "\2611";
    //     position: absolute;
    //     color: green;
    //     font-size: 30px;
    // }

    // input[type="checkbox"]:checked + label::before {
    //     border: 5px solid green;
    // }

    // .box {
    //     float: right;
    // }

    .box.unchecked:after {
        content: "\2610";
        color: red;
    }

    .box:after {
        content: "\2611";
        color:green;
    }