@import "../../variables.scss";

.task-container {
    padding: $s-sm;
}

.tasklist {
    padding-left: $s-sm;
    display: flex;
    flex-direction: row;
}

.item-wrapper {
    // flex-grow: 2;
    ul {
        flex: 2;
    }
    input[type="checkbox"] {
        opacity: 0;

    }
    label {
        position: relative;

    }
    label::before {
        display: inline-block;
        height: 50px;
        width: 50px;
        top: 3px;
        border: 5px solid red;
    }
    label::after {
        content: "";
        // display: inline-block;
        // height: 20px;
        // width: 35px;
        // border-left: 5px solid green;
        // border-bottom: 5px solid green;
        // left: 9px;
        // top: 13px;
        // transform: rotate(-45deg);
    }
    input[type="checkbox"] + label::after {
        content: none;
    }
    input[type="checkbox"]:checked + label::after {
        content: "\2611";
        position: absolute;
        color: green;
        font-size: 30px;
    }
    input[type="checkbox"]:checked + label::before {
        border: 5px solid green;
    }
    li {
        font-size: $f-md;
        list-style-type: none;
        vertical-align: top;
    }

    .box {
        display: inline-block;
    }

    .box.unchecked:after {
        content: "\2610";
        color: red;
    }

    .box:after {
        content: "\2611";
        color:green;
    }
}
