@import "../../variables.scss";

.tasklist {
    padding: 0 $s-sm;
}

.list-item1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid $pink;
    border-radius: 5px;
    background-color: rgba(176, 32, 98, 0.2);
}

.list-item2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid $turquoise;
    border-radius: 5px;
    background-color: $turquoise-tint;
}

.list-item3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border: 1px solid $pink;
    border-radius: 5px;
    background-color: $pink-tint
}

.taskitem-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

li {
    font-size: $f-md;
    list-style-type: none;
    vertical-align: top;
    margin: $s-sm 0;
}

label {
    position: relative;
}

.unchecked,
.checked {
    font-size: $f-md;
}

.unchecked1 {
    color: $pink;
}

.unchecked2 {
    color:  $pink;
}

.checked {
    color: $turquoise;
}

.unticked,
.ticked {
    margin: $ls-xs $ls-sm;
}

.unticked:hover,
.ticked:hover {
    cursor: pointer;
}

.unticked:hover {
    background-color: $pink-tint;
}

.ticked:hover {
    background-color: $turquoise-tint;
}

#remove-task {
    font-size: $f-xs;
	background: none;
	color: $pink;
    border: none;
    margin: $ls-xs $ls-sm;
	padding: 2px 5px;
	cursor: pointer;
    outline: inherit;
}

#remove-task:hover {
    background-color: $pink-tint;
}

.delete-task {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#overdue {
    float: right;
    font-size: $f-md;
	background: none;
	color: $pink;
    border: none;
    margin: $ls-xs $ls-sm;
	padding: 2px 5px;
    outline: inherit;
}

.spacing {
    width: 70px;
}