<div class="tasklist">
  <div class="item-wrapper">
    <ul>
        <li class="list-item" *ngFor="let task of tasks | async; let i = index" id="{{ 'task-' + i }}"><p>{{ task.task }}</p>
          <label class="container"> 
              <input type="checkbox" data-md-icheck (change)="toggleVisibility($event)"/>
              <span class="checkmark"></span>
            </label>
          <button id="remove-task" class="btn btn-flat btn-pink" (click)="onDelete(task)"><i class="fas fa-times"></i></button>
      </li>
    </ul>
    <!-- <input id="checkboxInput" type="checkbox" (click)="([checked=task.isChecked = true])">
    <label for="checkboxInput"></label> -->
    </div>
</div>