// $primary-color: red;

// $s-0: 0;
// $s-1: 10px;
// $s-2: 20px;
// $s-3: 40px;
// $s-4: 70px;

// @mixin bg-image($imageUrl) {
//   background-image: url($imageUrl);
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

// @mixin bg-mountain() {
//   @include bg-image('/assets/backgrounds/mountain.jpg'); 
// }
//palette
$purple: #37234f;
$blue: #003864;
$pink: #b02062;
$lilac: #65449b;
$turquoise: #6ecbd3;
$navy: #1b2949;
//font variables
$primary-font: "nunito", sans-serif;

//color variables
$primary-font-color: #ffffff;
$nav-color: #101f34;
$nav-icons-color: #0d4863;
$border-color: #0d4863;

//spacing variables
$s-0: 0;
$s-xs: 5px;
$s-sm: 15px;
$s-md: 40px;
$s-lg: 70px;
$s-xl: 70px;

$s-1 : $s-xs;

$f-xs: 1rem;
$f-sm: 1.2rem;
$f-md: 1.5rem;
$f-lg: 2rem;
$f-xl: 2.7rem;

$animationDuration: 0.5s;
$navHeight: 80px;
$smallMenuWidth: 35px;
$largeMenuWidth: 70px;
