@import '../../variables.scss';

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #26325c;
    min-height: 100vh;
    width: 100%;
    background-image: url('../../assets/backgrounds/background2.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    text-align: center;
    box-sizing: border-box;
}

#logo > img {
    margin-bottom: $s-md;
    max-width: 85px;
    max-height: 75px;
}

h1 {
    font-size: $f-sm;
    letter-spacing: 9px;
}

h2 {
    font-weight: normal;
    font-size: 0.75em;
    letter-spacing: 4px;
    margin: $s-xs 0 $s-md 0;
}
