body {
    width: 25vw;
    height: 25vh;
    text-align: center;
    border: solid black 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
}

#logo {
    border: solid black 2px;
}