<!DOCTYPE html>
<html>

<head>
  <title>My Northstar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
</head>

<body>
  <main>
    <div id="logo">
      <img src="../../assets/logo/northstar-logo.png" alt="north-star logo">
    </div>
    <h1>MY NORTHSTAR</h1>
    <h2>EXPLORE YOUR PURPOSE</h2>
    <div id="content">
      <ng-content></ng-content>
    </div>
  </main>
</body>

</html>