* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #26325c;
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/backgrounds/background2.jpg');
    background-size: cover;
    border: solid black 2px;
    color: white;
}

main {
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    position: absolute;
    top: 7.5%;
    left: 0;
    right: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
}

#logo {
    font-size: 1.25em;
}

@media only screen and (min-width: 550px) {
    body {
        
    }
}