<div class="wrapper">
<div class="flex-banner">
  <div class="flex-menu" (click)="menuIsVisible=!menuIsVisible" >
    <img class="dots" src="../../assets/logo/nav-round.png">
            <!-- <app-tiny-star *ngIf="starData" [data]="starData" size="1em"></app-tiny-star> -->

  </div>
  <div class="flex-logo">
    <div class="logo-wrapper">
        <a routerLink="/">
      <img src="../../assets/logo/northstar-logo.png">
      </a>
    </div>
    <h1>
        <i *ngIf="icon" class="{{icon}}"></i>
      {{title}}
    </h1>
  </div>
  <div class="flex-avatar">
      <span class="greeting">Hi, Jeff McTesty</span>
    <div class="circle-border">
    </div>
  </div>
</div>
<div class="flex-container {{ (menuIsVisible) ? 'showMenu':''}}">
    <app-nav [menuIsVisible]="menuIsVisible"></app-nav>
  <main>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </main>
</div>
</div>