<body>
<div class="flex-banner">
  <div class="flex-menu" (click)="menuIsVisible=!menuIsVisible" >
    <img class="dots" src="../../assets/logo/nav-round.png">
  </div>
  <div class="flex-logo">
    <img *ngIf="!icon" src="../../assets/logo/northstar-logo.png">
    <h1>    <i *ngIf="icon" class="fa fa-taxi"></i>
      {{title}}</h1>
  </div>
  <div class="flex-avatar">
    <span>Hi Jeff <i class="fas fa-user"></i></span>
  </div>
</div>
<div class="flex-container ">
  <nav class="menu {{ (menuIsVisible) ? 'showMenu':''}}">
      <ul >    
        <li><i class="fas fa-user"></i></li>
        <li><i class="fas fa-star"></i></li>
        <li><i class="fas fa-cog"></i></li>
        <li><i class="fas fa-times"></i></li>
      </ul>
  </nav>
  <main>
    <div class="content">
      <ng-content></ng-content>

    </div>
  </main>
</div>
</body>