@import "../../variables.scss";

.wrapper {
  background-image: url('../../assets/backgrounds/background2.jpg');
  background-size: cover;
  color: white;
  min-height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

main {
  flex: 1;
}

.flex-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  height:$navHeight;
}

.flex-menu {
  font-size: 1.5em;
  color:white;
  padding: 5px;
  background-color: rgb(17, 96, 243);
  width:35px;
  padding-top: 15px;
  cursor: pointer;
}

.dots {
  height:20px;
  margin-top: $s-xs; 
}


.flex-logo {
  margin-bottom: 0;
  padding-left: $s-xs;
  padding-bottom: 0;
  display:flex;
  align-items: center;
}

.logo-wrapper {
  width: 50px;
  display:none;;
}

.flex-logo img {
  width:100%;
}

.flex-avatar {
  margin-right: $s-sm;
  flex: 1;
  text-align: right;
  display: block;
  padding-top: $s-sm;
}


main {
  padding: 10px;
}

.content {
  border:1px solid $border-color;
  border-radius: 5px;
  padding: 10px;
  position:absolute;
  left:0;
  right:0;
  top:$navHeight;
  bottom:0;
  overflow-y:scroll;
  overflow-x:hidden;
}


.showMenu .content {
  left:$smallMenuWidth;
}

span {
  font-size: $f-sm;
}

@media only screen and (min-width:750px){

  .logo-wrapper {
    padding: $s-sm;
    width: $largeMenuWidth;
  }


  .showMenu .content {
    left:$largeMenuWidth;
  }

  .showMenu .menu {
    width:$largeMenuWidth;
    min-width:$largeMenuWidth;
  }
  
  .flex-menu {
    display: none;
  }

  .logo-wrapper {
    display:inline-block;
  }
  
  .flex-logo {
    padding-left: 0;
  }
  
  
  
  
}