@import "../../variables.scss";

.wrapper {
  background-image: url('../../assets/backgrounds/background2.jpg');
  background-size: cover;
  color: white;
  min-height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

main {
  flex: 1;
}

.flex-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  height:$navHeight;
}

.flex-menu {
  color:white;
  background-color: rgb(17, 96, 243);
  width:$smallMenuWidth;
  cursor: pointer;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}



.dots {
  height:20px;
  margin-top: $s-xs; 
}


.flex-logo {
  margin-bottom: 0;
  padding-bottom: 0;
  display:flex;
  align-items: center;
}

.logo-wrapper {
  width: 50px;
  display:none;;
}

.flex-logo img {
  width:100%;
}

.flex-avatar {
  flex: 1;
  text-align: right;
  display: inline-block;
  padding-top: $s-sm;
}


main {
  padding: 10px;
}

.content {
  border:1px solid $border-color;
  border-radius: 5px;
  padding: 10px;
  position:absolute;
  left:0;
  right:0;
  top:$navHeight;
  bottom:0;
  overflow-y:scroll;
  overflow-x:hidden;
  transition: $animationDuration;

}


.showMenu .content {
  left:$smallMenuWidth;
}

span {
  font-size: $f-sm;
}

h1 {
  font-size: $f-sm;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-left: $s-sm;
}

h1 > i {
  display: none;
}

.greeting {
  display: none;
}

.circle-border {
  border-radius: 50%;
  border: 1px solid white;
  background-image: url('https://fch.lisboa.ucp.pt/sites/default/files/assets/images/avatar-fch_9.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  float:right;
  
}


@media only screen and (min-width:500px){
  $menuWidth: 70px;

  /* ToolTip classses */ 
.tooltip {
  display: inline-block;    
  }
  .menu .tooltip .tooltiptext {
      margin-left:9px;
      width : 320px;
      visibility: hidden;
      background-color: #FFF;
      border-radius:4px;
      border: 1px solid #aeaeae;
      position: absolute;
      z-index: 1;
      padding: 5px;
      margin-top : -15px; /* according to application */ 
     opacity: 0;
      transition: opacity 1s;
  }
  .tooltip .tooltiptext::after {
      content: " ";
      position: absolute;
      top: 5%;
      right: 100%; /* To the left of the tooltip */
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent #aeaeae transparent transparent;
  }
  
  
  .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
  }

  .logo-wrapper {
    padding: $s-sm;
    width: $largeMenuWidth;
  }

  h1 > i {
    display: inline-block;
  }

  .greeting {
    display: inline-block;
  }

  .showMenu .content {
    left:$largeMenuWidth;
  }

  .showMenu .menu {
    width:$largeMenuWidth;
    min-width:$largeMenuWidth;
  }
  
  .flex-menu {
    display: none;
  }

  .logo-wrapper {
    display:inline-block;
  }
  h1 {
    font-size: $f-md;
  }

  .circle-border {
    width: 50px;
    height:50px;
  }
}




@media only screen and (min-width:750px){

  h1 {
    font-size: $f-lg;
    margin-left: $s-md;
    letter-spacing: 15px;
  }

  .circle-border {
    width: 70px;
    height: 70px;
  }
}