form {
    text-align: center;
    margin-top: 1.5em;
}

fieldset {
    border: none;
    
    input {
        display: block;
        margin: 0.75em auto;
        padding: 0.25em;
        width: 50%;
        font-size: 0.75em;
    }

    #submit {
        width: 20%;
        padding: 0.25em;
        font-size: 0.75em;
    }
}

a {
    font-size: 0.75em;
    text-decoration: none;
    color: #93ecfc;
}

a:hover {
    color: white;
}

.pointer:hover {
    cursor: pointer;
}

@media only screen and (min-width: 550px) {
    fieldset {
        input {
            padding: 0.5em;
            font-size: 1.25em;
        }
    }
}