<app-layout-auth>
  <form>
    <fieldset>
      <input type="text" placeholder="First name" required>
      <input type="text" placeholder="Last name" required>
      <input type="text" placeholder="Email address" required>
      <input type="text" placeholder="Confirm email address" required>
      <input type="password" placeholder="Password" required>
      <input type="password" placeholder="Confirm password" required>
      <input type="submit">
    </fieldset>
    <a href="#">Forgot password?</a>
  </form>
</app-layout-auth> 
